= form_for @event do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :タイトル
    = f.text_field :title
  .field
    = f.label :内容
    = f.text_field :body
  .field
    = f.label :開始時間
    = f.datetime_select :start_date
  .field
    = f.label :終了時間
    = f.datetime_select :end_date
  .actions
    = f.submit '保存'
