%p#notice= notice

%p
  %b タイトル:
  = @event.title
%p
  %b 内容:
  = @event.body
%p
  %b 開始時間:
  = @event.start_date.to_s(:datetime_jp)
%p
  %b 終了時間:
  = @event.end_date.to_s(:datetime_jp)

= link_to '編集', edit_event_path(@event)
\|
= link_to 'カレンダーに戻る', events_path
